
body {
	text-align: center;
}

#questions {
	margin-left: 100px;
	width: 500px;
	text-align: center;
}

#scorebox {
	position:  fixed;
	right: 		200px;
	top: 		200px;
}

#correct {
	color: green;
}

#incorrect {
	color: red;
}